html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Raleway', sans-serif;
  color:white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body{
  background-color: rgb(255, 145, 0);
}

.container{
  overflow: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height:80vh;
}

.title{
  width:20%;
  margin-left: 40%;
}

.titleH{
  margin: 0 auto;
  font-size: 800%;
}

.buyCard{
  background-color: white;
  width:70%; 
  height:100px; 
  border:2px solid white; 
  margin:2px 15%;
  color: black;
}

.upgradeTitle{
  margin-left: calc(50% - 10px);
  font-size: 200%;
  font-weight: bold;
  color:white;
}

.upgradeImage{
  float:left;
  width: 30%;
  margin-right:10px;
}

.upgradeText{
  float:left;
}

.player1{
  background-color: orange;
  position: absolute;
  margin-left: 0px;
  width:25%; 
  height: calc(80vh - 4px);
}

.count1{
  margin-left: 10%;
  margin-top: 2%;
  font-size: 350%;
  position: absolute;
  font-weight: 200;
  color: white;
  font-weight: bold;
}

.count2{
  margin-left: 60%;
  margin-top: 2%;
  font-size: 350%;
  position: absolute;
  font-weight: 200;
  color: white;
  font-weight: bold;
}

.landScape{
  position: absolute;
  width: 50%;
  margin-left: 25%;
  margin-top: 10%;
}

.landScapeImage{
  width: 100%;
}

.player2{
  background-color: orange;
  position:absolute;  
  height: calc(80vh - 4px);
  margin-left: 75%;
  width: 25%;
}

.bike1{
  margin-top: 22%;
  margin-left: calc(50% - 200px);
  position: absolute;
}

.bike2{
  margin-top: 22%;
  margin-left: 50%;
  position: absolute;
}

.bikeImage{
  position: absolute;
  width: 200px;
}